@import '~bootstrap/scss/bootstrap';

.main-cont{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
    
 }
 a{
    width: calc(100% / 7);
    margin: 10px;
 }
 .card img{
    width: 100%;

 }
 .main-cont a {
    text-decoration: none;
    color: black;
 }
 
